.header-container
    .header
        .logo-block
            img.logo(src="img/logo-mobile.jpg")
        .user-group
            .search-block
                a.search.fa.fa-search(href="#")
                input.search-box(type="search" placeholder="搜索您感兴趣的话题")
            a.search.fa.fa-search(href="#")
            a.user.fa.fa-user(href="#")
    .nav
        a.nav-item.active(href="#") 问答
        a.nav-item(href="#") 攻略
        a.nav-item(href="#") 讨论
        a.nav-item(href="#") 周边