$title-color = #21104C;
$text-color = #3B3B3B;

$background = #D8D8D8;
$container-background = #fff;

$game-nav-background = rgba(46,37,68,0.18);

$left-container-background = #ECEBEE;

$search-box-background = rgba(227, 227, 227, 0.88);

$search-box-color = #3C3C3C;

$icon-user-image = url("../../img/user-dark.png");

$show-more-background = rgba(92,94,94,0.52);

$toggle-button-color = #E5E5EE;

$toggle-button-background = #E5E5EE;

$toggle-button-position = 0;


