$title-color = #ffffff;
$text-color = #d3d2d2;

$background = #343434;
$container-background = url("../../img/bg-dark.jpg") no-repeat center;

$game-nav-background = #7d6f79;

$left-container-background = rgba(0, 0, 0, 0.39);

$search-box-background = rgba(13, 2, 11, 0.88);

$search-box-color = #929292;

$icon-user-image = url("../../img/user.png");

$show-more-background = #574e52;

$toggle-button-color = #e6d9d9;

$toggle-button-background = #3b3b3b;

$toggle-button-position = 20px;


