@import "reset.styl"

body {
  background-color: rgb(242,242,242)
}

/* Header
 * --------------------------------------- */

#nav-top {
  position: fixed
  top: 0px
  background-color: rgb(28,28,28)
  background-color: rgba(28,28,28,0.9)
  width: 100%
  height: 44px
  z-index: 1
  border-bottom: 1px solid #3684c3
  transition: transform 1s

  #container-nav-top {
    width: 960px
    margin: auto
    height: 44px
    line-height: 44px
    img {
      height: 30px
      vertical-align: middle
    }
    ul {
      display: inline-block
      margin-left:100px
      li {
        display: inline-block
        margin-right: 50px
        font-size: 15px
        a {
          text-decoration: none
          color: #666
          &.active, &:hover {
            color: lighten(#666, 30)
          }
        }
      }
    }
    #menu {
      display: none
    }
  }
}

@media screen and (max-width: 960px) {
  #nav-top {
    top: 0
    #container-nav-top {
      width: 100%
      img {
        margin-left: 30px
      }
      ul {
        width: 100%
        height: 0px
        background-color: #2d3237
        margin-left: 0
        display: block
        transform: translateY(0px)
        overflow: hidden
        transition: height 0.5s
        li {
          width: 100%
          display: block
          padding-left: 30px
          font-size: 15px
          border-bottom: 1px solid black
          a {
            text-decoration: none
            color: #666
            &.active, &:hover {
              color: lighten(#666, 30)
            }
          }
          &:hover {
            background: lighten(#666, 80)
          }
        }
        &.active {
          height: 1000px
        }
      }
      #menu {
        display: block
        width: 30px
        height: 25px
        position: absolute
        right: 15px
        top: 10px
      }
    }
  }
}


/* container
 * --------------------------------------- */

.container {
  width: 100%
  position: absolute
  left: 0px
  right: 0px
  margin: auto
}

/* Win winkpax
 * --------------------------------------- */

#win-winkpax {
  width: 100%
  height: 600px
  margin-top: 30px
  background: url("../img/coupon/win-winkpax.png") no-repeat center
  background-size: cover
  -ms-behavior: url(../lib/backgroundsize.min.htc)
  position: relative
  top: 50px
  .title-line {
    width: 300px
    margin: auto
    position: absolute
    left: 0px
    right: 0px
    top: -20px
    margin: auto
    .ball {
      width: 110px
      margin-top: -20px
    }
    .title {
      width: 300px
      float: right
    }
  }
  .get-coupon {
    width: 243px
    position: absolute
    bottom: 40px
    left: 0px
    right: 0px
    margin: 0 auto
  }
}

/* 响应式
* --------------------------------------- */
@media screen and (min-width: 480px) {
  #win-winkpax {
    .title-line {
      width: 400px
      .title {
        width: 400px
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #win-winkpax {
    height: 800px
    .title-line {
      width: 700px
      .title {
        width: 480px
        position: absolute
        top: 0px
        bottom: 0px
        right: 0px
        margin-top: auto
        margin-bottom: auto
      }
      .ball {
        width: 200px
        margin-top: 0
      }
    }
  }
}

/* 活动规则
* --------------------------------------- */

#activity-rule {
  background: url("../img/coupon/background.png") no-repeat center
  background-size: cover
  -ms-behavior: url(../lib/backgroundsize.min.htc)
  width: 100%
  position: relative
  .rule {
    margin-top: 30px
    padding: 30px 10px 30px 30px
    h1 {
      font-size: 30px
      margin-bottom: 25px
      color: lighten(#206eac,30)
    }

    ul {
      list-style: square
      color: white
      li {
        margin: 10px
      }
    }
  }
  .product {
    display: none
  }
  .lucky-man {
    padding: 0px 10px 30px 30px
    font-size: 0
    position: relative
    h1 {
      font-size: 30px
      margin-bottom: 10px
      color: lighten(#206eac,10)
    }
    img {
      position: absolute
      right: 50px
      top: 0px
    }
    table {
      width: 100%
      margin: auto
      th {
        border-top: 1px solid lighten(#206eac,10)
        border-bottom: 1px solid lighten(#206eac,10)
        padding-left: 20px
        line-height: 35px
        color: lighten(#206eac,5)
        font-size: 16px
      }
      td {
        padding-left: 20px
        padding-top: 20px
        color: white
        font-size: 18px
        &:first-child:after {
          content: "/"
          font-size: 25px
          margin-left: 25%
        }
      }
      &.second-row {
        th {
          display: none
        }
      }
    }
  }

}

/* 响应式
* --------------------------------------- */
@media screen and (min-width: 768px){
  #activity-rule {
    .rule{
      &:before {
        content: " "
        width: 300px
        height: 350px
        float: right
      }
    }
    .product {
      display: block
      position: absolute
      right: 20px
      top: -20px
    }
    .lucky-man {
      table {
        width: 49%
        display: inline-table
        margin: 0
        &.first-row {
          td {
            &.last:after {
              content: "/"
              font-size: 25px
              margin-left: 25%
            }
          }
        }
        &.second-row {
          th {
            display: table-cell
          }
        }
      }
    }
  }

}

@media screen and (min-width: 960px){
  #activity-rule {
    width: 920px
    margin: auto

  }
}

/* banner
* --------------------------------------- */
#banner {
  width: 100%
  position: relative
  margin-top: -5px
  height: 285px
  overflow: hidden
  .banner-background {
    position: absolute
    width: 100%
    height: 100%
    z-index: -1
  }
  .banner-product {
    width: 380px
    margin: 25px
  }
  .banner-presale {
    width: 480px
    position: absolute
    right: -90px
    bottom: -30px
  }
}

/* 响应式
* --------------------------------------- */
@media screen and (min-width: 768px) {
  #banner {
    height: 200px
    .banner-presale {
      width: 60%
    }
  }
}

@media screen and (min-width: 960px) {
  #banner {
    width: 922px
    margin-left: auto
    margin-right: auto
  }
}


/* 我的抽奖券
* --------------------------------------- */
#my-coupon {
  background: url("../img/coupon/background.png") no-repeat center
  background-size: cover
  -ms-behavior: url(../lib/backgroundsize.min.htc)
  padding: 30px
  position: relative
  overflow: hidden
  h1 {
    font-size: 30px
    margin-bottom: 10px
    color: lighten(#206eac, 30)
  }
  //style for large screen
  .large-screen {
    display: none
    table {
      width: 100%
      margin: auto
      th {
        border-top: 1px solid lighten(#206eac, 30)
        border-bottom: 1px solid lighten(#206eac, 30)
        padding-left: 20px
        line-height: 35px
        color: lighten(#206eac, 30)
        font-size: 14px
      }
      td {
        padding-left: 20px
        padding-top: 20px
        color: white
        font-size: 16px
        white-space: nowrap
        &:after {
          content: "/"
          font-size: 25px
          float: right
          white-space: nowrap
        }
        &.last {
          width: 50px
          &:after {
            content: ""
          }
        }
        a {
          color: white
        }
      }
    }
  }
  //style for small screen
  .small-screen {
    table {
      border-top: 1px solid lighten(#206eac, 40)
      border-bottom: 1px solid lighten(#206eac, 40)
      margin: 20px 0 0 0
      width: 100%
      th {
        font-weight: bold
        color: lighten(#206eac, 50)
        padding: 5px 0 5px 20px
      }
      td {
        color: white
      }
    }
  }
  .pagination {
    width: 100%
    text-align: center
    div {
      display: inline-block
      margin: 20px
      height: 30px
      line-height: 30px
      color: white
      span {
        display: inline-block
        width: 30px
        padding-left: 50px
        height: 30px
        border: 1px solid lighten(#206eac, 40)
        border: 1px solid rgba(255,255,255,0.3)
        color: white
        text-align: left
        &:first-child {
          width: 60px
          padding-left: 20px
          color: lighten(#206eac, 40)
          color: rgba(255,255,255,0.3)
        }
      }
    }
  }
}

/* 响应式
* --------------------------------------- */
@media screen and (min-width: 768px) {
  #my-coupon {
    .large-screen {
      display: block
    }
    .small-screen {
      display: none
    }
    .pagination {
      width: auto
      float: right
      margin: 10px 80px 20px 0
    }
  }
}

@media screen and (min-width: 960px) {
  #my-coupon {
    width: 862px
    margin: auto
  }
}