@import "mixin/reset.styl"



$standard-blue = #76dbff;
$deep-black = #13181e;
$block-background = rgba($deep-black, 0.4);
$background = #343434;
$standard-orange = #e9a43d;
$text-color = #dddddd;
$icon-color = #dddddd;
$header-background = rgba(#ffffff, 5%)
$content-background = #2a3238

$font-size-mobile = 16px;
$font-size-web = 14px;
$icon-size = 16px;

$breakpoint-1 = 640px;
$breakpoint-2 = 1100px

@import "assets/common.styl";




