.search-box {
    border: none;
    height: 30px;
    width: 145px;
    line-height: 30px;
    padding-left: 20px;
    font-size: 14px;
    color: $text-color;
    border-radius: 20px;
    background-color: $search-box-background;
    box-shadow: inset 0 1px 3px 0 rgba(174, 174, 174, 0.5);
    outline: none;
}

