extends layouts/default

block title
    title 蒸汽档案馆

append style
    link(rel="stylesheet" type="text/css" href="style/dark/index.css")


block content
    .content-container
        .left-content-container
        .right-content-container
            .page-introduction 您身边最权威的STEAM回答平台
            .banner.content-block
                for index in [1,2,3,4]
                    .block-list(class = "block-" + index)
                        .banner-item
                            img.ad-image(src="img/mobile/ad-" + index + ".jpg")
                            p.ad-description 玩FF15之前最好先看看

            .hot-wanted.content-block
                .title
                    a.show-more(href="#") 查看全部悬赏
                    i.fa.fa-star
                    a.title-text(href="#") 热门悬赏
                .content
                    .block-list-large.block-1
                        .wanted-item(href="#")
                            .award-amount
                                span 240
                            p.wanted-item-content FF14终极典藏
                    .block-list-large.block-2
                        .wanted-item(href="#")
                            .award-amount
                                span 20
                            p.wanted-item-content FF14终极典藏版怎么限定月PS4是可以玩的吗？
                    .block-list-large.block-3
                        .wanted-item(href="#")
                            .award-amount
                                span 8
                            p.wanted-item-content FF14终极典藏版怎么限定月PS4是可以玩的吗？
                    .block-list-large.block-4
                        .wanted-item(href="#")
                            .award-amount
                                span 240
                            p.wanted-item-content FF14终极典藏

            .hot-topics.content-block
                .title
                    i.fa.fa-star
                    a.title-text(href="#") 热门话题
                .hot-topic-list
                    a.topic(href="#") 【问答】《FF15》终极典藏版 限定月亮PS4开箱
                    a.topic(href="#") 【问答】《FF15》终极典藏版 限定月亮PS4开箱
                    a.topic(href="#") 【问答】《FF15》终极典藏版 限定月亮PS4开箱
                    a.topic(href="#") 【问答】《FF15》终极典藏版 限定月亮PS4开箱
                    a.topic(href="#") 【问答】《FF15》终极典藏版 限定月亮PS4开箱
                    a.topic(href="#") 【问答】《FF15》终极典藏版 限定月亮PS4开箱
                    a.topic(href="#") 【问答】《FF15》终极典藏版 限定月亮PS4开箱
                    a.topic(href="#") 【问答】《FF15》终极典藏版 限定月亮PS4开箱
                    a.topic(href="#") 【问答】《FF15》终极典藏版 限定月亮PS4开箱
                    a.topic(href="#") 【问答】《FF15》终极典藏版 限定月亮PS4开箱

            .recommended.content-block
                .title
                    a.show-more(href="#") 查看全部悬赏
                    i.fa.fa-star
                    a.title-text(href="#") 周边推荐
                .content
                    .block-list-large
                        a.recommended-item(href="#")
                            img.recommended-cover(src="img/mobile/sample-1.jpg")
                            .recommended-description
                                span.category [壁纸]
                                span.name MORTAL COMBAT X
                    .block-list-large
                        a.recommended-item(href="#")
                            img.recommended-cover(src="img/mobile/sample-2.jpg")
                            .recommended-description
                                span.category [视频]
                                span.name 35分钟游戏演示
                    .block-list-large
                        a.recommended-item(href="#")
                            img.recommended-cover(src="img/mobile/sample-3.jpg")
                            .recommended-description
                                span.category [音乐]
                                span.name 热门经典游戏音乐剪辑
                    .block-list-large
                        a.recommended-item(href="#")
                            img.recommended-cover(src="img/mobile/sample-4.jpg")
                            .recommended-description
                                span.category [周边]
                                span.name FPS游戏周边美图

            .game-highlight.content-block
                .title
                    i.fa.fa-star
                    a.title-text(href="#") 热门游戏
                .content
                    .block-list-large
                        a.game-highlight-item(href="#")
                            img.game-icon(src="img/mobile/game-icon-1.jpg")
                            p.game-name 飞舞的樱花：恶魔内战
                    .block-list-large
                        a.game-highlight-item(href="#")
                            img.game-icon(src="img/mobile/game-icon-2.jpg")
                            p.game-name 影子战术：将军之刃
                    .block-list-large
                        a.game-highlight-item(href="#")
                            img.game-icon(src="img/mobile/game-icon-3.jpg")
                            p.game-name 天空战舰：死亡之翼
                    .block-list-large
                        a.game-highlight-item(href="#")
                            img.game-icon(src="img/mobile/game-icon-4.jpg")
                            p.game-name 机械狂奔
                    .block-list-large
                        a.game-highlight-item(href="#")
                            img.game-icon(src="img/mobile/game-icon-1.jpg")
                            p.game-name 使命召唤13： 无限战争

            .license-info 沪ICP备15019655号  增值电信业务经营许可证：沪 B2-20160022

append scripts
    script(type="text/javascript" src="lib/jquery-1.12.0.js")
    script(type="text/javascript" src="lib/jquery.mCustomScrollbar.concat.min.js")
    script(type="text/javascript" src="script/main.js")



